#feedback {
    .col-lg-12 {
        h1 {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 45px;
            padding-top: 40px;
            padding-bottom: 25px;
            color: white;
        }
        span {
            color: $blueColor;
        }
        p {
            color: white;
            padding-bottom: 50px;
        }
        .col-lg-2 {
            img {
                padding-top: 15px;
            }
        }
    }
    #people {
        padding-top: 40px;
        padding-bottom: 60px;
        background: white;
        .col-lg-3 {
            border-bottom: 1px solid #E9E9E9;
        }
        img {
            width: 69px;
            height: 70px;
            margin-bottom: 20px;
            margin-right: 10px;
        }
        h5 {
            color: $blueColor;
            font-weight: 700;
            font-size: inherit;
        }
        p {
            font-size: 16px;
        }
        span {
            color: $blueColor;
            font-weight: 700;
        }
    }
}
