#team{
  background: white;
  padding-bottom: 40px;
  h1{
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 300;
  }
  span{
    color: $blueColor;
  }
  .col-lg-12{
    padding-bottom: 50px;
  }
  h5{
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: $blueColor;
  }
  h6{
    font-size: 14px;
  }
}